#page-trainer-list {
    width: 100vw;
    height: 100vh;
}

#search-trainers {
    margin-top: 3.2rem;
}

#search-trainers label {
    color: var(--color-text-in-primary);
}

#search-trainers button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#search-trainers button:hover {
    background: var(--color-secundary-dark);
}

#search-trainers .input-block {
    position: relative;
}

#search-trainers .input-block+.input-block {
    margin-top: 1.4rem;
}

#search-trainers .input-block label {
    font-size: 1.4rem;
}

#search-trainers .input-block input {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

#search-trainers .input-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

#page-trainer-list main {
    margin: 3.2rem auto;
    width: 90%;
}

@media (min-width: 700px) {
    #page-trainer-list {
        max-width: 100%;
    }

    #search-trainers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }

    #search-trainers .input-block+.input-block,
    #search-trainers .select-block+.select-block {
        margin-top: 0;
    }

    #page-trainer-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}